.wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 10vh;
  padding: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: box-shadow .2s ease-in-out;
  }
}

.image {
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}

.spinnerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;

  & > div {
    font-size: 5px;
    margin-left: 30px;
  }
}

.details {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 20px;
}
