.returnButton {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: 25px;
  align-items: flex-end;
  display: flex;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &:before {
    content: '←';
  }
}
