.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 30px;
  font-weight: 400;
  padding-top: 20px;
}

.mainContent {
  display: flex;
  flex-direction: row;
}

.contentWrapper {
  padding-top: 5%;
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width:100%;
  max-height: 100%;
}

.informationWrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 100px;
}

.information {
  padding-bottom: 20px;
}

.type {
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 400;
}

.stats {
  width: 175px;
  padding-top: 10px;
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.abilities {
  display: flex;
  flex-direction: row;
}

.abilities button {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: 25px;
  align-items: flex-end;
  display: flex;
  white-space: nowrap;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: underline;
  }
}
