.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 10px 0 50px 0;
}

.paginationCell, .paginationCellActive {
  border: none;
  margin: 1%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: inherit;

  @media (max-width: 548px) {
    margin: 0;
  }

  &:first-child {
    margin-right: 3%;
  }

  &:last-child {
    margin-left: 3%;
  }

  &:focus {
    outline: none;
  }
}

.paginationCellActive {
  background-color: #61dafb;
}
