.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.textWrapper {
  padding-top: 5%;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 30px;
  font-weight: 400;
}

.description {
  font-size: 25px;
  font-weight: 400;
}

